body {
    font-family: monospace;
}

#output {
    font-size: 200%;
}

#myButton {
    width: 200px;
    height: 50pt;
    font-size: 15pt;
}

#generateFiveButton {
    display: none;
}


html,
body,
.container {
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 1.2rem;
    background-color: #174287;
    color: #F5F5F5;
    padding: .8rem;
    margin: 0;
    text-align: center;
}

#output {
    text-align: center;
}

#myButton {
    width: 300px;
    height: 75pt;
    font-size: 1.5rem;
}

body {
    color: darkgray;
    font-size: 2rem;
}

h1 {
    background-color: #FF3860;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: block;
    margin: 1rem;
}

#output {
    text-align: left;
}

@media only screen and (min-width: 320px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
        background-color: #23D160;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 1rem;
        text-align: left;
    }
}

@media only screen and (min-width: 1408px) {
    h1 {
        background-color: blue;
        font-family: 'Times New Roman', Times, serif;
    }

    #generateFiveButton {
        display: block;
        width: 300px;
        height: 75pt;
        font-size: 1.5rem;
    }
}